.App {
    background-image: url("pokeballs.jpg");
    border: 1px solid white;
}

.body {
    margin: 100px 200px;
    padding: 30px;
    background: #fff;
    box-shadow: 0px 0px 25px 7px gray;
    border-radius: 30px;
}

.title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
}

.search-form {
    margin-bottom: 50px;
}

.links:visited, .links, .links:hover {
    color: #ed1b26;
    text-decoration: none;
}

.btn-danger {
    color: #fefefe;
    background-color: #ed1b26;
}